body {
    background-color: blanchedalmond;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.game {
    background-color: rgb(135, 222, 184);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    width: 100vw;
    height: 100vh;
    position: relative;
}

.result{
    background-color: chartreuse;

    padding: 30px;
        border-radius: 10px;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
        width: 100vw;
        height: 100vh;
        position: relative;
}
    

.title {
    color: chocolate;
    font-size: 40px;
    font-weight: bold;
}

.continue{
    position: absolute;
    bottom: 0;
    right: 0;
}

.show-turn{
    position: absolute;
        bottom: 0;
        left: 0
}

.rows {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.match-row {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.match-row img {
    width: 80px;
    height: auto;
    cursor: pointer;
    transition: transform 0.2s, filter 0.2s;
}

.match-row.no-event img{
    pointer-events: none;
        opacity: 0.7;
       
        cursor: not-allowed;
}

.match-row img.hideImage {
    filter:grayscale(100);
    opacity: 0.5;
    transition: filter 0.3s ease;
}



.match-row img.hideImage:hover {
    transform: translateY(-5px);
    filter: brightness(1.2);
}

.match-row img:hover {
    transform: translateY(-5px);
    filter: grayscale(1.2);
}


.unChanged{
        pointer-events: none;
}

.hideButton{
    pointer-events: none;

    opacity: 0.6;
}





